body {
  text-align: center;
  background-color: #080b0e;
}
.name{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #e8e3e3;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  3%;
  color: #e8e3e3;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}


.btn {
  margin: 29px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(236, 10, 10);
  opacity: 0.8;
}

.red {
  background-color: rgb(249, 13, 13);
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
